.profile {
  text-align: center;
  margin-bottom: 50px;
  padding: 1rem 0;
  background-image: url("https://images.unsplash.com/photo-1519817914152-22d216bb9170?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2565&q=80") !important;
  background-size: cover;
  background-position: center 53%;
  h1 {
      font-size: 50px;
      font-weight: 700;
      color: white;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
  }
  .content:hover{
    transform: scale(1.05);
  }

  img {
      border-radius: 50%;
      max-width: 220px;
      max-height: 220px;
      margin-left: auto;
      margin-right: auto;
      display: inline;
      padding: 20px;
  }

  .profile-picture {
      margin-bottom: 30px;
  }
}.profile {
    background-color: #133667 !important;
    text-align: center;
    margin-bottom: 50px;
    padding: 1rem 0;

    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }

    img {
        border-radius: 50%;
        max-width: 220px;
        max-height: 220px;
        margin-left: auto;
        margin-right: auto;
        display: inline;
        padding: 20px;
    }

    .profile-picture {
        margin-bottom: 30px;
    }
}